#JumpGlider Minecraft Mod .gitignore

# eclipse
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.class
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#forgegradle
run

# other
.DS_Store
*.jar
