#JumpGlider Minecraft Mod .gitignore

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.class
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store
